@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: #f0edf0;
}

.container {
  margin: auto;
  width: 20rem;
  height: 20rem;
}

i {
  font-size: 2rem;
  color: #484e64;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #050039;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: #727788;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 0.01rem solid #ccc; 
}

.notification-item .img {
  width: auto;
  margin: 0;
}

.user-photo {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  max-width: 100%;
}

.notification-info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
}

.notification {
  position: absolute;
}

.tooltip-bell {
  position: absolute;
  display: block;
  left: 9rem;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -0.3rem;
  right: 8rem;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 1.5rem solid #fff;
}

.tooltip {
  position: absolute;
  top: 3.25rem;
  left: -9rem;
  padding: 1rem;
  line-height: 1.5;
  color: #000;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  width: 20rem;
  pointer-events: none;

  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;*/
}

h3 {
  font-weight: 500;
  margin: 0.5rem 0;
}

h4 {
  font-weight: 500;
}

a {
  background: transparent;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
  color: #121212;
}


@keyframes fadeStart {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(0,5px,0);
  transform: translate3d(0,5px,0)
 }
 to {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
 }
}

@keyframes fadeEnd {
 0% {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
 }
 to {
  opacity: 0;
  -webkit-transform: translate3d(0,5px,0);
  transform: translate3d(0,5px,0);
 }
}

.fadeStart-enter-active {
  animation: fadeStart .2s both ease-in-out;
}

.fadeStart-leave-active {
  animation: fadeEnd .2s both ease-in-out;
}